@using FairwayFinder.Core.Features.Dashboard.Models.ViewModel
@model DashboardViewModel


@{
    ViewData["Title"] = "Dashboard";
}
    <div class="row">
        <div class="col-3">
            <label class="form-label">Filter By Year</label>
            <select>
                @foreach (var year in Model.YearFilters)
                {
                    if (Model.Filters.Year == year.Key)
                    {
                        <option value="@year.Value"
                                hx-get="@Url.Action("Index", new {year = year.Value})"
                                hx-trigger="click"
                                hx-push-url="true"
                                hx-target="body" selected>
                            @year.Key
                        </option>
                    }
                    else
                    {
                        <option value="@year.Value"
                                hx-get="@Url.Action("Index", new {year = year.Value})"
                                hx-trigger="click"
                                hx-push-url="true"
                                hx-target="body" >
                            @year.Key
                        </option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="row" id="header-cards"
         hx-get="@Url.Action("GetHeaderCardsData", Model.Filters)"
         hx-target="#header-cards"
         hx-swap="innerHTML"
         hx-trigger="load">
        @await Html.PartialAsync("Shared/_DashboardHeaderCardStats", new DashboardHeaderCardsViewModel())
    </div>

<div class="row row-cols-lg-1 row-cols-xl-2 g-2">

    <div class="col">
        <div hx-get="@Url.Action("GetRounds")"
             hx-target="#rounds-table-card"
             hx-swap="innerHTML"
             hx-trigger="load">

            <div class="card h-100">
                <div class="card-header">
                    Rounds
                </div>
                <div class="card-body" id="rounds-table-card">
                </div>
            </div>
        </div>
    </div>

    <div class="col"
         hx-get="@Url.Action("GetScoresChartData")"
         hx-target="#scores-chart-card"
         hx-swap="innerHTML"
         hx-trigger="load">

        <div class="card h-100">
            <div class="card-header">
                Scores
            </div>
            <div class="card-body" id="scores-chart-card">
                @await Html.PartialAsync("Shared/_DashboardScoresLineChart", new DashboardScoresChartViewModel())
            </div>
        </div>
    </div>
</div>

@*
<div class="row">
    <div class="col-lg-6 col-md-12 my-3">
        <div class="card">
            <div class="card-header">
                Recent Rounds
            </div>
            <div class="card-body">
                <div id="recent-rounds"
                    hx-get="@Url.Action("GetRounds")"
                    hx-target="#recent-rounds"
                    hx-swap="outerHTML"
                    hx-trigger="load"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-12 my-3">
        <div class="card">
            <div class="card-header">
                Hole Score Stats
            </div>
            <div class="card-body">
                <div id="hole-score-stats"
                     hx-get="@Url.Action("GetHoleScoreStats")"
                     hx-target="#hole-score-stats"
                     hx-swap="outerHTML"
                     hx-trigger="load"></div>
            </div>
        </div>
    </div>


    <div class="col-lg-6 col-md-12 my-3">
        <div class="card">
            <div class="card-header">
                Recent Rounds
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
    
    
</div>
*@