@using FairwayFinder.Core.Features.Dashboard.Models.ViewModel
@using FairwayFinder.Web.Controllers
@model DashboardViewModel


@{
    ViewData["Title"] = "Dashboard";
}
<script>
    function getQueryParams() {
        return Object.fromEntries(new URLSearchParams(window.location.search));
    }
</script>


<div class="row">
        <div class="col-3">
            <label class="form-label">Filter By Year</label>
            <select>
                <option value=""
                        hx-get="@Url.Action("Index")"
                        hx-trigger="click"
                        hx-push-url="true"
                        hx-target="body">
                </option>
                
                @foreach (var year in Model.YearFilters)
                {

                    if (Model.Filters.Year == year.Key)
                    {
                        <option value="@year.Value"
                                hx-get="@Url.Action("Index", new { year = year.Value })"
                                hx-trigger="click"
                                hx-push-url="true"
                                hx-target="body" selected>
                            @year.Key
                        </option>
                    }
                    else
                    {
                        <option value="@year.Value"
                                hx-get="@Url.Action("Index", new { year = year.Value })"
                                hx-trigger="click"
                                hx-push-url="true"
                                hx-target="body">
                            @year.Key
                        </option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="row" id="header-cards"
         hx-get="@Url.Action("GetHeaderCardsData", Model.Filters)"
         hx-target="#header-cards"
         hx-swap="innerHTML"
         hx-trigger="load">
        @await Html.PartialAsync("Shared/_DashboardHeaderCardStats", new DashboardHeaderCardsViewModel())
    </div>

<div class="row row-cols-lg-1 row-cols-xl-2 g-2">

    <div class="col">
        <div hx-get="@Url.Action("GetRounds", Model.Filters)"
             hx-target="#rounds-table-card"
             hx-swap="innerHTML"
             hx-trigger="load">

            <div class="card h-100">
                <div class="card-header">
                    Rounds
                </div>
                <div class="card-body" id="rounds-table-card">
                </div>
            </div>
        </div>
    </div>

    <div class="col"
         hx-get="@Url.Action("GetScoresChartData", Model.Filters)"
         hx-target="#scores-chart-data"
         hx-swap="innerHTML"
         hx-trigger="load">

        <div class="card h-100">
            <div class="card-header">
                Scores
            </div>
            
            <div class="card-body" id="scores-chart-card">

                <canvas id="scoresChart"></canvas>
                
                <div id="scores-chart-data">
                    
                </div>

                @await Html.PartialAsync("Shared/_DashboardScoresLineChart")
            </div>
        </div>
    </div>
</div>
