@using FairwayFinder.Features.Data

<RadzenStack Gap="0.25rem" class="rz-mb-2">
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
        <RadzenStack Gap="0">
            <RadzenText TextStyle="TextStyle.H5" class="rz-m-0">Scorecard</RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" style="color: var(--rz-text-secondary-color);">Step 2 of 3 &middot; @State.SelectedCourseName</RadzenText>
        </RadzenStack>
        <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center">
            <RadzenButton Text="Scan Scorecard" Icon="photo_camera"
                          ButtonStyle="ButtonStyle.Secondary" Variant="Variant.Outlined"
                          Click="@OnScanScorecardClicked" />
            <RadzenButton Text="Back to Setup" Icon="arrow_back"
                          ButtonStyle="ButtonStyle.Light" Variant="Variant.Outlined"
                          Click="@OnBackClicked" />
        </RadzenStack>
    </RadzenStack>
</RadzenStack>

<div class="scorecard-wrapper">
    <table class="scorecard-table">
        <thead>
            <tr>
                <th colspan="2">Hole</th>
                @foreach (var hole in FrontNineHoles)
                {
                    <th class="hole-cell">@hole.HoleNumber</th>
                }
                <th class="total-cell" colspan="2">Out</th>
                @foreach (var hole in BackNineHoles)
                {
                    <th class="hole-cell">@hole.HoleNumber</th>
                }
                <th class="total-cell" colspan="2">In</th>
                <th class="total-cell" colspan="2">Total</th>
            </tr>
        </thead>
        <tbody>
            @* Yardage Row *@
            <tr>
                <th colspan="2">@State.SelectedTeeboxName</th>
                @foreach (var hole in FrontNineHoles)
                {
                    <td class="hole-cell">@hole.Yardage</td>
                }
                <td class="total-cell" colspan="2">@FrontNineHoles.Sum(h => h.Yardage)</td>
                @foreach (var hole in BackNineHoles)
                {
                    <td class="hole-cell">@hole.Yardage</td>
                }
                <td class="total-cell" colspan="2">@BackNineHoles.Sum(h => h.Yardage)</td>
                <td class="total-cell" colspan="2">@State.Holes.Sum(h => h.Yardage)</td>
            </tr>

            @* Handicap Row *@
            <tr>
                <th colspan="2">Handicap</th>
                @foreach (var hole in FrontNineHoles)
                {
                    <td class="hole-cell">@hole.Handicap</td>
                }
                <td class="total-cell" colspan="2">&nbsp;</td>
                @foreach (var hole in BackNineHoles)
                {
                    <td class="hole-cell">@hole.Handicap</td>
                }
                <td class="total-cell" colspan="2">&nbsp;</td>
                <td class="total-cell" colspan="2">&nbsp;</td>
            </tr>

            @* Par Row *@
            <tr>
                <th colspan="2">Par</th>
                @foreach (var hole in FrontNineHoles)
                {
                    <td class="hole-cell">@hole.Par</td>
                }
                <td class="total-cell" colspan="2">@FrontNineHoles.Sum(h => h.Par)</td>
                @foreach (var hole in BackNineHoles)
                {
                    <td class="hole-cell">@hole.Par</td>
                }
                <td class="total-cell" colspan="2">@BackNineHoles.Sum(h => h.Par)</td>
                <td class="total-cell" colspan="2">@State.Holes.Sum(h => h.Par)</td>
            </tr>

            @* Score Row (editable) *@
            <tr class="score-row">
                <th colspan="2">Score</th>
                @foreach (var entry in FrontNineEntries)
                {
                    <td class="hole-cell input-cell">
                        <input type="text" inputmode="numeric" class="scorecard-input"
                               style="@GetScoreInputStyle(entry)"
                               value="@entry.Score"
                               @onchange="(e) => OnScoreChanged(entry, e)" />
                    </td>
                }
                <td class="total-cell" colspan="2">@RunningScoreOut</td>
                @foreach (var entry in BackNineEntries)
                {
                    <td class="hole-cell input-cell">
                        <input type="text" inputmode="numeric" class="scorecard-input"
                               style="@GetScoreInputStyle(entry)"
                               value="@entry.Score"
                               @onchange="(e) => OnScoreChanged(entry, e)" />
                    </td>
                }
                <td class="total-cell" colspan="2">@RunningScoreIn</td>
                <td class="total-cell" colspan="2">@RunningScoreTotal</td>
            </tr>

            @if (State.TrackAdvancedStats)
            {
                @* Putts Row (editable) *@
                <tr>
                    <th colspan="2">Putts</th>
                    @foreach (var entry in FrontNineEntries)
                    {
                        <td class="hole-cell input-cell">
                            <input type="text" inputmode="numeric" class="scorecard-input"
                                   value="@entry.NumberOfPutts"
                                   @onchange="(e) => OnPuttsChanged(entry, e)" />
                        </td>
                    }
                    <td class="total-cell" colspan="2">@FrontNineEntries.Where(e => e.NumberOfPutts.HasValue).Sum(e => (int)e.NumberOfPutts!.Value)</td>
                    @foreach (var entry in BackNineEntries)
                    {
                        <td class="hole-cell input-cell">
                            <input type="text" inputmode="numeric" class="scorecard-input"
                                   value="@entry.NumberOfPutts"
                                   @onchange="(e) => OnPuttsChanged(entry, e)" />
                        </td>
                    }
                    <td class="total-cell" colspan="2">@BackNineEntries.Where(e => e.NumberOfPutts.HasValue).Sum(e => (int)e.NumberOfPutts!.Value)</td>
                    <td class="total-cell" colspan="2">@State.HoleEntries.Where(e => e.NumberOfPutts.HasValue).Sum(e => (int)e.NumberOfPutts!.Value)</td>
                </tr>

                @* Fairway Row (clickable toggles) *@
                <tr>
                    <th colspan="2">Fairway</th>
                    @foreach (var entry in FrontNineEntries)
                    {
                        <td class="hole-cell toggle-cell" @onclick="() => ToggleFairway(entry)">
                            @if (entry.Par <= 3)
                            {
                                <span>&nbsp;</span>
                            }
                            else if (entry.HitFairway == true)
                            {
                                <RadzenIcon Icon="check_circle" Style="color: var(--rz-success); cursor: pointer;" />
                            }
                            else if (entry.HitFairway == false)
                            {
                                <RadzenIcon Icon="cancel" Style="color: var(--rz-danger); cursor: pointer;" />
                            }
                            else
                            {
                                <span class="toggle-placeholder">-</span>
                            }
                        </td>
                    }
                    <td class="total-cell" colspan="2">@FrontNineFairwaysHit / @FrontNineFairwaysTotal</td>
                    @foreach (var entry in BackNineEntries)
                    {
                        <td class="hole-cell toggle-cell" @onclick="() => ToggleFairway(entry)">
                            @if (entry.Par <= 3)
                            {
                                <span>&nbsp;</span>
                            }
                            else if (entry.HitFairway == true)
                            {
                                <RadzenIcon Icon="check_circle" Style="color: var(--rz-success); cursor: pointer;" />
                            }
                            else if (entry.HitFairway == false)
                            {
                                <RadzenIcon Icon="cancel" Style="color: var(--rz-danger); cursor: pointer;" />
                            }
                            else
                            {
                                <span class="toggle-placeholder">-</span>
                            }
                        </td>
                    }
                    <td class="total-cell" colspan="2">@BackNineFairwaysHit / @BackNineFairwaysTotal</td>
                    <td class="total-cell" colspan="2">@TotalFairwaysHit / @TotalFairwaysTotal</td>
                </tr>

                @* GIR Row (clickable toggles) *@
                <tr>
                    <th colspan="2">GIR</th>
                    @foreach (var entry in FrontNineEntries)
                    {
                        <td class="hole-cell toggle-cell" @onclick="() => ToggleGir(entry)">
                            @if (entry.HitGreen == true)
                            {
                                <RadzenIcon Icon="check_circle" Style="color: var(--rz-success); cursor: pointer;" />
                            }
                            else if (entry.HitGreen == false)
                            {
                                <RadzenIcon Icon="cancel" Style="color: var(--rz-danger); cursor: pointer;" />
                            }
                            else
                            {
                                <span class="toggle-placeholder">-</span>
                            }
                        </td>
                    }
                    <td class="total-cell" colspan="2">@FrontNineGreensHit</td>
                    @foreach (var entry in BackNineEntries)
                    {
                        <td class="hole-cell toggle-cell" @onclick="() => ToggleGir(entry)">
                            @if (entry.HitGreen == true)
                            {
                                <RadzenIcon Icon="check_circle" Style="color: var(--rz-success); cursor: pointer;" />
                            }
                            else if (entry.HitGreen == false)
                            {
                                <RadzenIcon Icon="cancel" Style="color: var(--rz-danger); cursor: pointer;" />
                            }
                            else
                            {
                                <span class="toggle-placeholder">-</span>
                            }
                        </td>
                    }
                    <td class="total-cell" colspan="2">@BackNineGreensHit</td>
                    <td class="total-cell" colspan="2">@TotalGreensHit / @State.HoleEntries.Count</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" class="rz-pt-2">
    <RadzenButton Text="Review" Icon="arrow_forward" ButtonStyle="ButtonStyle.Primary" Click="@OnReviewClicked" />
</RadzenStack>

<style>
    .scorecard-wrapper {
        width: 100%;
        overflow-x: auto;
    }

    .scorecard-table {
        width: 100%;
        border-collapse: collapse;
        font-size: 0.875rem;
        min-width: 900px;
        border-top: 1px solid var(--rz-text-disabled-color);
        border-bottom: 1px solid var(--rz-text-disabled-color);
        border-left: 1px solid var(--rz-text-disabled-color);
        border-right: 1px solid var(--rz-text-disabled-color);
    }

    .scorecard-table th,
    .scorecard-table td {
        padding: 0.5rem 0.25rem;
        text-align: center;
        border-top: 1px solid var(--rz-text-disabled-color);
        border-bottom: 1px solid var(--rz-text-disabled-color);
        border-left: none;
        border-right: none;
    }

    .scorecard-table th:first-child,
    .scorecard-table td:first-child {
        border-left: 1px solid var(--rz-text-disabled-color);
    }

    .scorecard-table th:last-child,
    .scorecard-table td:last-child {
        border-right: 1px solid var(--rz-text-disabled-color);
    }

    .scorecard-table thead th {
        background-color: var(--rz-base-background-color);
        font-weight: 600;
    }

    .scorecard-table tbody th {
        text-align: left;
        padding-left: 0.5rem;
        background-color: var(--rz-base-background-color);
        font-weight: 600;
        min-width: 80px;
    }

    .scorecard-table .hole-cell {
        min-width: 36px;
        width: 36px;
    }

    .scorecard-table .total-cell {
        font-weight: 600;
        background-color: var(--rz-base-background-color);
        min-width: 45px;
    }

    .scorecard-table .score-row {
        font-weight: 600;
        font-size: 1rem;
    }

    .scorecard-table .input-cell {
        padding: 0.125rem;
    }

    .scorecard-table .toggle-cell {
        cursor: pointer;
        user-select: none;
    }

    .scorecard-table .toggle-cell:hover {
        background-color: var(--rz-base-background-color);
    }

    .toggle-placeholder {
        color: var(--rz-text-disabled-color);
        cursor: pointer;
    }

    .scorecard-input {
        width: 100%;
        min-width: 36px;
        text-align: center;
        padding: 0.25rem 0;
        font-size: 0.875rem;
        border: 1px dashed var(--rz-text-disabled-color);
        border-radius: var(--rz-border-radius);
        background: transparent;
        color: inherit;
        outline: none;
        box-sizing: border-box;
    }

    .scorecard-input:focus {
        border-color: var(--rz-primary);
    }
</style>

@code {
    [Parameter, EditorRequired]
    public CreateRoundState State { get; set; } = default!;

    [Parameter]
    public EventCallback OnBack { get; set; }

    [Parameter]
    public EventCallback OnReview { get; set; }

    [Parameter]
    public EventCallback OnScanScorecard { get; set; }

    // Computed: hole/entry splits for front/back nine
    private List<HoleInfo> FrontNineHoles => State.Holes.Where(h => h.HoleNumber <= 9).ToList();
    private List<HoleInfo> BackNineHoles => State.Holes.Where(h => h.HoleNumber > 9).ToList();
    private List<HoleScoreEntry> FrontNineEntries => State.HoleEntries.Where(e => e.HoleNumber <= 9).ToList();
    private List<HoleScoreEntry> BackNineEntries => State.HoleEntries.Where(e => e.HoleNumber > 9).ToList();

    // Running score totals
    private int RunningScoreOut => State.HoleEntries.Where(h => h.HoleNumber <= 9).Sum(h => (int)h.Score);
    private int RunningScoreIn => State.HoleEntries.Where(h => h.HoleNumber > 9).Sum(h => (int)h.Score);
    private int RunningScoreTotal => RunningScoreOut + RunningScoreIn;

    // Fairway totals
    private int FrontNineFairwaysHit => FrontNineEntries.Count(e => e.HitFairway == true);
    private int FrontNineFairwaysTotal => FrontNineEntries.Count(e => e.Par > 3);
    private int BackNineFairwaysHit => BackNineEntries.Count(e => e.HitFairway == true);
    private int BackNineFairwaysTotal => BackNineEntries.Count(e => e.Par > 3);
    private int TotalFairwaysHit => State.HoleEntries.Count(e => e.HitFairway == true);
    private int TotalFairwaysTotal => State.HoleEntries.Count(e => e.Par > 3);

    // GIR totals
    private int FrontNineGreensHit => FrontNineEntries.Count(e => e.HitGreen == true);
    private int BackNineGreensHit => BackNineEntries.Count(e => e.HitGreen == true);
    private int TotalGreensHit => State.HoleEntries.Count(e => e.HitGreen == true);

    // Event handlers
    private async Task OnBackClicked() => await OnBack.InvokeAsync();
    private async Task OnReviewClicked() => await OnReview.InvokeAsync();
    private async Task OnScanScorecardClicked() => await OnScanScorecard.InvokeAsync();

    // Score/Putt input handlers
    private void OnScoreChanged(HoleScoreEntry entry, ChangeEventArgs e)
    {
        if (short.TryParse(e.Value?.ToString(), out var val) && val >= 1 && val <= 15)
        {
            entry.Score = val;
        }
    }

    private void OnPuttsChanged(HoleScoreEntry entry, ChangeEventArgs e)
    {
        var raw = e.Value?.ToString();
        if (string.IsNullOrWhiteSpace(raw))
        {
            entry.NumberOfPutts = null;
            return;
        }
        if (short.TryParse(raw, out var val) && val >= 0 && val <= 10)
        {
            entry.NumberOfPutts = val;
        }
    }

    // Toggle handlers
    private void ToggleFairway(HoleScoreEntry entry)
    {
        if (entry.Par <= 3) return;

        if (entry.HitFairway == null)
            entry.HitFairway = true;
        else if (entry.HitFairway == true)
            entry.HitFairway = false;
        else
        {
            entry.HitFairway = null;
            entry.MissFairwayType = null;
        }
    }

    private void ToggleGir(HoleScoreEntry entry)
    {
        if (entry.HitGreen == null)
            entry.HitGreen = true;
        else if (entry.HitGreen == true)
            entry.HitGreen = false;
        else
        {
            entry.HitGreen = null;
            entry.MissGreenType = null;
        }
    }

    private string GetScoreInputStyle(HoleScoreEntry entry)
    {
        var diff = entry.Score - entry.Par;
        if (diff < 0) return "color: var(--rz-success); font-weight: 700;";
        if (diff == 0) return "font-weight: 600;";
        if (diff == 1) return "color: var(--rz-warning); font-weight: 700;";
        return "color: var(--rz-danger); font-weight: 700;";
    }
}
