@using FairwayFinder.Core.Helpers
@using FairwayFinder.Web.Controllers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model FairwayFinder.Core.Features.Dashboard.Models.ViewModel.DashboardRoundsTableViewModel


<table class="table table-hover display nowrap border-top border-start border-end border-bottom" style="width:100%" id="rounds-table">
    <thead>
    <th>Course Name</th>
    <th>Teebox</th>
    <th>Score</th>
    <th>Type</th>
    <th>Slope/Rating</th>
    <th>Date</th>
    </thead>

    <tbody>
    @foreach (var r in Model.Rounds)
    {
        <tr>
            <td>
                <a class="d-inline-block text-truncate"
                   asp-area="Scorecards"
                   asp-controller="Scorecard"
                   asp-action="ViewScorecard"
                   asp-route-username="@Model.Username"
                   asp-route-roundId="@r.round_id"
                   hx-boost="false">
                    @r.course_name
                </a>
            </td>
            <td>@r.teebox_name </td>
            <td class="text-center">@r.score</td>
            @if (r.full_round)
            {
                <td class="text-center">
                    18
                </td>
            }
            else
            {
                <td class="text-center">
                    9
                </td>
            }
            <td>@r.slope / @r.rating</td>
            <td>@r.date_played.FormatDate()</td>
        </tr>
    }
    </tbody>
</table>


