@model FairwayFinder.Core.Features.Dashboard.Models.RoundScoresSummaryResponse

<div class="col-lg-4 col-sm-12 my-3">
    <div class="card">
        <div class="card-header">Rounds Played</div>
        <div class="card-body">
            <h1 class="card-text">@Model.RoundsPlayed</h1>
        </div>
    </div>
</div>
<div class="col-lg-4 col-sm-12 my-3">
    <div class="card">
        <div class="card-header">Avg. Score (18 / 9)</div>
        <div class="card-body">
            <h1 class="card-text">@Model.AvgScore / @Model.AvgScoreNineHole</h1>
        </div>
    </div>
</div>
<div class="col-lg-4 col-sm-12 my-3">
    <div class="card">
        <div class="card-header">Low Round (18 / 9)</div>
        <div class="card-body">
            <h1 class="card-text">@Model.LowRound / @Model.LowRoundNineHole</h1>
        </div>
    </div>
</div>
