@model FairwayFinder.Core.Features.Dashboard.Models.ViewModel.RoundStatsViewModel

<ul class="list-group list-group-flush">
    <li class="list-group-item d-flex justify-content-between">
        <div>Eagles or better:</div>
        <div>@(Model.ScoreStats.hole_in_one + Model.ScoreStats.double_bogies + Model.ScoreStats.eagles)</div>
    </li>
    <li class="list-group-item d-flex justify-content-between">
        <div>Birdies:</div>
        <div>@Model.ScoreStats.birdies</div>
    </li>
    <li class="list-group-item d-flex justify-content-between">
        <div>Pars:</div>
        <div>@Model.ScoreStats.pars</div>
    </li>
    <li class="list-group-item d-flex justify-content-between">
        <div>Bogeys:</div>
        <div>@Model.ScoreStats.bogies</div>
    </li>
    <li class="list-group-item d-flex justify-content-between">
        <div>Doubles:</div>
        <div>@Model.ScoreStats.double_bogies</div>
    </li>
    <li class="list-group-item d-flex justify-content-between">
        <div>Worse:</div>
        <div>@Model.ScoreStats.triple_or_worse</div>
    </li>
</ul>