@model FairwayFinder.Core.Features.Stats.Models.QueryModels.RoundScoreStats
<div class="card">
    <div class="card-header">
        Score Count
    </div>
    <ul class="list-group list-group-flush">    
        <li class="list-group-item d-flex justify-content-between">
            <div>Eagles or better:</div>
            <div>@(Model.eagles + Model.double_eagles + Model.hole_in_one)</div>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <div>Birdies:</div>
            <div>@Model.birdies</div>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <div>Pars:</div>
            <div>@Model.pars</div>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <div>Bogeys:</div>
            <div>@Model.bogies</div>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <div>Doubles:</div>
            <div>@Model.double_bogies</div>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <div>Worse:</div>
            <div>@Model.triple_or_worse</div>
        </li>
    </ul>
</div>