@using FairwayFinder.Core.Settings
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model FairwayFinder.Core.Features.Courses.Models.ViewModels.CourseViewModel

@{
    ViewData["Title"] = $"{Model.Course!.course_name}";
}


<div class="col-span-12">
    
    <div>
        @if (User.IsInRole(Roles.Admin))
        {
            <div class="flex justify-end mb-5">
                <a class="btn btn-sm btn-secondary"
                   asp-action="EditCourse" asp-area="CourseManagement" asp-controller="CourseManagement" asp-route-courseId="@Model.Course.course_id">
                    <i class="fa-solid fa-pen-to-square pe-2"></i> Edit Course
                </a>
            </div>
        }
    </div>
    

    <div class="card-body grow-0 bg-base-200">
        <div class="flex justify-between items-center">
            <div class="card-title">
                <h3> Teeboxes </h3>
            </div>

            @if (User.IsInRole(Roles.Admin))
            {
                <div class="add-user">
                    <a class="btn btn-sm btn-primary" type="button" asp-area="CourseManagement" asp-controller="TeeboxManagement" asp-action="AddTeebox" asp-route-courseId="@Model.Course.course_id">
                        <i class="fa-solid fa-plus"></i> Add Teebox
                    </a>
                </div>
            }
        </div>

        <div class="overflow-x-auto pt-4">
            <table class="table bg-base-200">
                <thead>
                <tr class="border-b-2 border-neutral">
                    <th>Teebox Name</th>
                    <th>Gender</th>
                    <th>Par</th>
                    <th>Course Rating</th>
                    <th>Slope</th>
                    <th>Front 9 Yardage</th>
                    <th>Back 9 Yardage</th>
                    <th>Total</th>
                    <th>
                        <div class="flex justify-end">
                            Actions
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var t in Model.Teeboxes){
                    <tr>
                        <td>@t.teebox_name</td>
                        <td>@(t.is_womens ? "W" : "M")</td>
                        <td>@t.par</td>
                        <td>@t.rating</td>
                        <td>@t.slope</td>
                        <td>@t.yardage_out</td>
                        <td>@t.yardage_in</td>
                        <td>@t.yardage_total</td>
                        <td>
                            <div class="flex justify-end">
                                <a class="btn btn-xs btn-secondary me-2"
                                   asp-action="EditTeebox" asp-area="CourseManagement" asp-controller="TeeboxManagement" asp-route-courseId="@t.course_id" asp-route-teeboxId="@t.teebox_id">
                                    <i class="fa-solid fa-pen-to-square pe-2"></i> Edit
                                </a>
                            </div>
                            
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

