@using FairwayFinder.Core.Settings
@model FairwayFinder.Core.Features.Courses.Models.ViewModels.GetAllCoursesViewModel

@{
    ViewData["Title"] = "Course Management";
}

<style>
    tr.htmx-swapping {
        opacity: 0;
        transition: opacity 250ms ease-out;
    }
</style>

<div class="col-span-12">

    <div class="gap-4 mt-3">
        <div class="col-span-12">
            @await Html.PartialAsync("_MessageHtmxPartial")
        </div>
    </div>

    <div class="card-body grow-0 bg-base-200">
        <div class="flex justify-between items-center">
            <div class="card-title">
                <h3> Golf Courses </h3>
            </div>

            @if (User.IsInRole(Roles.Admin)){
                <div class="add-user">
                    <a class="btn btn-sm btn-primary" type="button" asp-area="CourseManagement" asp-controller="CourseManagement" asp-action="AddCourse">
                        <i class="fa-solid fa-plus"></i> Add Golf Course
                    </a>
                </div>
            }
        </div>

        <div class="overflow-x-auto pt-4">
            <table class="table bg-base-200">
                <thead>
                <tr class="border-b-2 border-neutral">
                    @if (User.IsInRole(Roles.Admin))
                    { 
                        <th>Course Id</th>
                    }
                   
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone Number</th>
                    
                    @if (User.IsInRole(Roles.Admin))
                    {
                        <th>
                            <div class="flex justify-end">
                                Actions
                            </div>
                        </th>
                    }
                </tr>
                </thead>
                <tbody>
                @foreach (var course in Model.Courses){
                    <tr>
                        @if (User.IsInRole(Roles.Admin))
                        {
                            <td>@course.course_id</td>
                        }

                        <td>
                            <a class="link" asp-action="ViewCourse" asp-route-courseId="@course.course_id">
                                @course.course_name
                            </a>
                        </td>
                        
                        <td>@course.address</td>
                        <td>@course.phone_number</td>

                        @if (User.IsInRole(Roles.Admin)){
                            <td>
                                <div class="flex justify-end">

                                    <a class="btn btn-xs btn-secondary me-2"
                                       asp-action="EditCourse" asp-area="CourseManagement" asp-controller="CourseManagement" asp-route-courseId=@course.course_id>
                                        <i class="fa-solid fa-pen-to-square pe-2"></i> Edit
                                    </a>
                                    
                                    <button class="btn btn-xs btn-error" id="delete-btn"
                                            hx-delete="@Url.Action("DeleteCourse", "CourseManagement", new { Area = "CourseManagement", courseId = course.course_id })"
                                            hx-trigger="click"
                                            hx-swap="outerHTML swap:250ms"
                                            hx-target="closest tr"
                                            hx-confirm="Are you sure you want to delete this course?">
                                        <i class="fa-solid fa-trash-can pe-2"></i> Delete
                                    </button>
                                </div>
                            </td>
                        }
                    </tr>
                }

                </tbody>
            </table>
        </div>
    </div>
</div>