@using FairwayFinder.Web.Helpers
@model FairwayFinder.Core.Features.Scorecards.Models.FormModels.ScorecardFormModel


@if (Model.Teebox.teebox_id > 0)
{
    <div class="col-6">
        <div class="mb-3">
            <label class="form-label"> Yardage </label>
            <input class="form-control" value="@Model.Teebox.yardage_total" disabled/>
        </div>
    </div>

    <div class="col-6">
        <div class="mb-3">
            <label class="form-label"> Slope / Rating </label>
            <input class="form-control" value="@Model.Teebox.slope / @Model.Teebox.rating" disabled/>
        </div>
    </div>
}

@if (Model.HoleScore.Count > 0)
{
    <input type="hidden" asp-for="UsingHoleStats" value="@Model.UsingHoleStats" x-model="showAdvancedStats"/>    
    <div class="col-12">
        <input
            type="checkbox"
            id="toggleAdvancedStats"
            class="form-check-input"
            x-model="showAdvancedStats">
        <label class="form-check-label" for="toggleAdvancedStats">Use Advanced Stats</label>
    </div>
    
    for (int i = 0; i < Model.HoleScore.Count; i++)
    {
        @*Hidden fields for Hole Scores*@
        <input type="hidden" asp-for="@Model.HoleScore[i].HoleId" value="@Model.HoleScore[i].HoleId" />
        <input type="hidden" asp-for="@Model.HoleScore[i].HoleNumber" value="@Model.HoleScore[i].HoleNumber" />
        <input type="hidden" asp-for="@Model.HoleScore[i].Par" value="@Model.HoleScore[i].Par" />
        <input type="hidden" asp-for="@Model.HoleScore[i].Yardage" value="@Model.HoleScore[i].Yardage" />
        
        @*Hidden fields for Hole Stats*@
        <input type="hidden" asp-for="@Model.HoleScore[i].HoleStats.HoleId" value="@Model.HoleScore[i].HoleId" />
        <input type="hidden" asp-for="@Model.HoleScore[i].HoleNumber" value="@Model.RoundId" />
        
        <div class="col-4 my-3">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div class="col-auto">
                            Hole @Model.HoleScore[i].HoleNumber
                        </div>

                        <div class="col-auto">
                            Par @Model.HoleScore[i].Par | @Model.HoleScore[i].Yardage Yards
                        </div>
                    </div>
                    
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="mb-3 col-12">
                            <label class="form-label" asp-for="@Model.HoleScore[i].Score">Score</label>
                            <input type="number" class="form-control" asp-for="@Model.HoleScore[i].Score" autocomplete="off"/>
                            <span class="text-danger" asp-validation-for="@Model.HoleScore[i].Score"></span>
                        </div>
                        
                        @if (Model.HoleScore[i].Par > 3)
                        {
                            <div x-data="{ missedFairway_@Model.HoleScore[i].HoleNumber: false }" x-show="showAdvancedStats">
                                <div class="col-auto">
                                    <div class="form-check">
                                        <input
                                            class="form-check-input"
                                            asp-for="@Model.HoleScore[i].HoleStats.MissedFairway"
                                            x-model="missedFairway_@Model.HoleScore[i].HoleNumber">
                                        <label class="form-check-label" asp-for="@Model.HoleScore[i].HoleStats.MissedFairway"></label>
                                    </div>
                                </div>

                                <div class="col-auto mb-2" x-show="missedFairway_@Model.HoleScore[i].HoleNumber" x-transition>

                                    <label class="form-label"> Miss Type</label>
                                    <select class="form-select form-select-sm"
                                            asp-for="@Model.HoleScore[i].HoleStats.MissFairwayType"
                                            asp-items="@Model.MissTypeSelectList.ToSelectList("Miss Type", "")"
                                    ></select>
                                </div>
                            </div>
                        }


                        <div x-data="{ missedGreen_@Model.HoleScore[i].HoleNumber: false }" x-show="showAdvancedStats">
                            <div class="col-auto">
                                <div class="form-check">
                                    <input
                                        class="form-check-input"
                                        asp-for="@Model.HoleScore[i].HoleStats.MissedGreen"
                                        checked="@(Model.HoleScore[i].HoleStats.MissedGreen ? "checked" : null)"                                        type="checkbox"
                                        x-model="missedGreen_@Model.HoleScore[i].HoleNumber">
                                    <label class="form-check-label" asp-for="@Model.HoleScore[i].HoleStats.MissedGreen"></label>
                                </div>
                            </div>

                            <div class="col-auto mb-2" x-show="missedGreen_@Model.HoleScore[i].HoleNumber" x-transition>

                                <label class="form-label"> Miss Type</label>
                                <select class="form-select form-select-sm" 
                                        asp-for="@Model.HoleScore[i].HoleStats.MissGreenType"
                                        asp-items="@Model.MissTypeSelectList.ToSelectList("Miss Type", "")"
                                        ></select>
                            </div>
                        </div>
                        
                        <div class="col-auto" x-show="showAdvancedStats">
                            <label class="form-label" asp-for="@Model.HoleScore[i].HoleStats.NumberOfPutts"></label>
                            <input type="number" class="form-control form-control-sm" asp-for="@Model.HoleScore[i].HoleStats.NumberOfPutts" autocomplete="off"/>
                            <span class="text-danger" asp-validation-for="@Model.HoleScore[i].HoleStats.NumberOfPutts"></span>
                        </div>

                        <div class="col-auto" x-show="showAdvancedStats">
                            <label class="form-label" asp-for="@Model.HoleScore[i].HoleStats.YardageOut"></label>
                            <input type="number" class="form-control form-control-sm" asp-for="@Model.HoleScore[i].HoleStats.YardageOut" autocomplete="off"/>
                            <span class="text-danger" asp-validation-for="@Model.HoleScore[i].HoleStats.YardageOut"></span>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    }
}
