@using FairwayFinder.Web.Helpers
@model FairwayFinder.Core.Features.Scorecards.Models.FormModels.ScorecardFormModel


@if (Model.Teebox.teebox_id > 0)
{
    <div class="col-6">
        <div class="mb-3">
            <label class="form-label"> Yardage </label>
            <input class="form-control" value="@Model.Teebox.yardage_total" disabled/>
        </div>
    </div>

    <div class="col-6">
        <div class="mb-3">
            <label class="form-label"> Slope / Rating </label>
            <input class="form-control" value="@Model.Teebox.slope / @Model.Teebox.rating" disabled/>
        </div>
    </div>
}

@if (Model.HoleScore.Count > 0)
{
    @* *@
    <input type="hidden" asp-for="RoundFormModel.UsingHoleStats" value="@Model.RoundFormModel.UsingHoleStats" x-model="showAdvancedStats"/>
    <div class="row d-flex justify-content-start">
        <div class="col-auto">
            <input
                type="checkbox"
                id="toggleAdvancedStats"
                class="form-check-input" x-model="showAdvancedStats">
            <label class="form-check-label" for="toggleAdvancedStats">Use Advanced Stats</label>
        </div>
        
        @*We're only doing this when creating a round, there is no going back *@
        @if (!Model.IsUpdate)
        {
            <input type="hidden" asp-for="FullRound" value="@Model.FullRound"/>
            <input type="hidden" asp-for="FrontNine" value="@Model.FrontNine"/>
            <input type="hidden" asp-for="BackNine" value="@Model.BackNine"/>
            
            <div class="col-auto">
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="18-hole" checked="@Model.FullRound"
                           hx-get="@Url.Action("GetTeeboxAndHoleDataHtmx", new { teeboxId = Model.Teebox.teebox_id, fullRound = true })"
                           hx-target="#teebox-data"
                           hx-swap="innerHTML"
                           hx-trigger="click">
                    <label class="form-check-label" for="18-hole">18 Hole</label>
                </div>
            </div>

            <div class="col-auto">
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="front-nine" checked="@Model.FrontNine"
                           hx-get="@Url.Action("GetTeeboxAndHoleDataHtmx", new { teeboxId = Model.Teebox.teebox_id, frontNine = true })"
                           hx-target="#teebox-data"
                           hx-swap="innerHTML"
                           hx-trigger="click">
                    <label class="form-check-label" for="front-nine">Front 9</label>
                </div>
            </div>

            <div class="col-auto">
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="back-nine" checked="@Model.BackNine"
                           hx-get="@Url.Action("GetTeeboxAndHoleDataHtmx", new { teeboxId = Model.Teebox.teebox_id, backNine = true })"
                           hx-target="#teebox-data"
                           hx-swap="innerHTML"
                           hx-trigger="click">
                    <label class="form-check-label" for="back-nine">Back 9</label>
                </div>
            </div>
        }
    </div>
    
    for (int i = 0; i < Model.HoleScore.Count; i++)
    {
        @*Hidden fields for Hole Scores*@
        <input type="hidden" asp-for="@Model.HoleScore[i].HoleId" value="@Model.HoleScore[i].HoleId" />
        <input type="hidden" asp-for="@Model.HoleScore[i].HoleNumber" value="@Model.HoleScore[i].HoleNumber" />
        <input type="hidden" asp-for="@Model.HoleScore[i].Par" value="@Model.HoleScore[i].Par" />
        <input type="hidden" asp-for="@Model.HoleScore[i].Yardage" value="@Model.HoleScore[i].Yardage" />
        
        @*Hidden fields for Hole Stats*@
        <input type="hidden" asp-for="@Model.HoleScore[i].HoleStats.HoleId" value="@Model.HoleScore[i].HoleId" />
        <input type="hidden" asp-for="@Model.HoleScore[i].HoleStats.HoleStatsId" value="@Model.HoleScore[i].HoleStats.HoleStatsId" />
        <input type="hidden" asp-for="@Model.HoleScore[i].HoleId" value="@Model.HoleScore[i].HoleStats.HoleId" />
        <input type="hidden" asp-for="@Model.RoundFormModel.RoundId" value="@Model.HoleScore[i].HoleStats.RoundId" />
        
        <div class="col-4 my-3">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div class="col-auto">
                            Hole @Model.HoleScore[i].HoleNumber
                        </div>

                        <div class="col-auto">
                            Par @Model.HoleScore[i].Par | @Model.HoleScore[i].Yardage Yards
                        </div>
                    </div>
                    
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="mb-3 col-12">
                            <label class="form-label" asp-for="@Model.HoleScore[i].Score">Score</label>
                            <input type="number" class="form-control" asp-for="@Model.HoleScore[i].Score" autocomplete="off"/>
                            <span class="text-danger" asp-validation-for="@Model.HoleScore[i].Score"></span>
                        </div>
                        
                        <div x-show="showAdvancedStats">
                            @if (Model.HoleScore[i].Par > 3)
                            {
                                <hr/>
                                <div x-data="{ missedFairwayDropdown: @Model.HoleScore[i].HoleStats.MissedFairway.ToString().ToLower() }">
                                    <div x-data="{ missedFairway: @Json.Serialize(Model.HoleScore[i].HoleStats.MissedFairway), hitFairway: @Json.Serialize(Model.HoleScore[i].HoleStats.HitFairway), teeShotOb: @Json.Serialize(Model.HoleScore[i].HoleStats.TeeShotOb) }">

                                        <!-- Hidden Inputs for Form Submission -->
                                        <input type="hidden" asp-for="@Model.HoleScore[i].HoleStats.MissedFairway" x-model="missedFairway">
                                        <input type="hidden" asp-for="@Model.HoleScore[i].HoleStats.HitFairway" x-model="hitFairway">
                                        <input type="hidden" asp-for="@Model.HoleScore[i].HoleStats.TeeShotOb" x-model="teeShotOb">

                                        <div class="d-flex justify-content-between">
                                            <div class="form-check">
                                                <!-- Hit Checkbox -->
                                                <input type="checkbox" id="hitCheck"
                                                       class="form-check-input"
                                                       :checked="hitFairway"
                                                       @@click="hitFairway = !hitFairway; if (hitFairway) { missedFairway = false; missedFairwayDropdown = false; teeShotOb = false; }">
                                                <label for="hitCheck" class="form-check-label">Hit Fwy</label>
                                            </div>

                                            <div class="form-check">
                                                <!-- Miss Checkbox -->
                                                <input type="checkbox" id="missCheck"
                                                       class="form-check-input"
                                                       :checked="missedFairway"
                                                       @@click="missedFairway = !missedFairway; if (missedFairway) { hitFairway = false; missedFairwayDropdown = true; } else { missedFairwayDropdown = false; }">
                                                <label for="missCheck" class="form-check-label">Miss Fwy</label>
                                            </div>

                                            <div class="form-check">
                                                <!-- OB Checkbox -->
                                                <input type="checkbox" id="obFwyCheck"
                                                       class="form-check-input"
                                                       x-model="teeShotOb" :disabled="!missedFairwayDropdown">
                                                <label for="obFwyCheck" class="form-check-label">OB</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-auto mb-2 mt-2" x-show="missedFairwayDropdown" x-transition>
                                        <label class="form-label"> Miss Type</label>
                                        <select class="form-select form-select-sm"
                                                asp-for="@Model.HoleScore[i].HoleStats.MissFairwayType"
                                                asp-items="@Model.MissTypeSelectList.ToSelectList("Miss Type", "")"></select>
                                        <span class="text-danger" asp-validation-for="@Model.HoleScore[i].HoleStats.MissFairwayType"></span>
                                    </div>
                                </div>
                            }

                            <hr/>
                            
                            <div x-data="{ missedGreenDropdown: @Model.HoleScore[i].HoleStats.MissedGreen.ToString().ToLower() }">
                                <div x-data="{ missedGreen: @Json.Serialize(Model.HoleScore[i].HoleStats.MissedGreen), hitGreen: @Json.Serialize(Model.HoleScore[i].HoleStats.HitGreen), obApr: @Json.Serialize(Model.HoleScore[i].HoleStats.ApproachShotOb)}">

                                    <!-- Hidden Inputs for Form Submission -->
                                    <input type="hidden" asp-for="@Model.HoleScore[i].HoleStats.MissedGreen" x-model="missedGreen">
                                    <input type="hidden" asp-for="@Model.HoleScore[i].HoleStats.HitGreen" x-model="hitGreen">
                                    <input type="hidden" asp-for="@Model.HoleScore[i].HoleStats.ApproachShotOb" x-model="obApr">

                                    <div class="d-flex justify-content-between">
                                        <div class="form-check">
                                            <!-- Hit Checkbox -->
                                            <input type="checkbox" id="hitCheck"
                                                   class="form-check-input"
                                                   :checked="hitGreen"
                                                   @@click="hitGreen = !hitGreen; if (hitGreen) { missedGreen = false; missedGreenDropdown = false; obApr = false; }">
                                            <label for="hitCheck" class="form-check-label">Hit GIR</label>
                                        </div>

                                        <div class="form-check">
                                            <!-- Miss Checkbox -->
                                            <input type="checkbox" id="missCheck"
                                                   class="form-check-input"
                                                   :checked="missedGreen"
                                                   @@click="missedGreen = !missedGreen; if (missedGreen) { hitGreen = false; missedGreenDropdown = true;} else { missedGreenDropdown = false; }">
                                            <label for="missCheck" class="form-check-label">Miss GIR</label>
                                        </div>

                                        <div class="form-check">
                                            <!-- Ob Checkbox -->
                                            <input type="checkbox" id="obAprCheck"
                                                   class="form-check-input"
                                                   x-model="obApr"
                                                   :disabled="!missedGreenDropdown">
                                            <label for="obAprCheck" class="form-check-label">OB</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-auto mb-2 mt-2" x-show="missedGreenDropdown" x-transition>
                                    <label class="form-label">Miss Type</label>
                                    <select class="form-select form-select-sm"
                                            asp-for="@Model.HoleScore[i].HoleStats.MissGreenType"
                                            asp-items="@Model.MissTypeSelectList.ToSelectList("Miss Type", "")">
                                    </select>
                                    <span class="text-danger" asp-validation-for="@Model.HoleScore[i].HoleStats.MissGreenType"></span>
                                </div>
                            </div>
                            
                            <hr/>

                            <div class="row mt-2">
                                <div class="col-6">
                                    <label class="form-label" asp-for="@Model.HoleScore[i].HoleStats.NumberOfPutts"></label>
                                    <input type="number" class="form-control form-control-sm" asp-for="@Model.HoleScore[i].HoleStats.NumberOfPutts" autocomplete="off"/>
                                    <span class="text-danger" asp-validation-for="@Model.HoleScore[i].HoleStats.NumberOfPutts"></span>
                                </div>

                                <div class="col-6">
                                    <label class="form-label" asp-for="@Model.HoleScore[i].HoleStats.YardageOut"></label>
                                    <input type="number" class="form-control form-control-sm" asp-for="@Model.HoleScore[i].HoleStats.YardageOut" autocomplete="off"/>
                                    <span class="text-danger" asp-validation-for="@Model.HoleScore[i].HoleStats.YardageOut"></span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
