@using FairwayFinder.Core.Models
@using FairwayFinder.Web.Helpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model FairwayFinder.Core.Features.Scorecards.Models.FormModels.ScorecardFormModel

<input type="hidden" asp-for="RoundFormModel.CourseId" value="@Model.Course.course_id"/>
<input type="hidden" asp-for="RoundFormModel.CourseName" value="@Model.Course.course_id"/>

<div class="col-4">
    <div class="mb-3">
        <label class="form-label"> Course Name </label>
        <input class="form-control" asp-for="@Model.Course.course_name" disabled/>
    </div>
</div>

<div class="col-4">
    <div class="mb-3">
        <label class="form-label" asp-for="RoundFormModel.DatePlayed"> Date Played </label>
        <input class="form-control" type="date" asp-for="RoundFormModel.DatePlayed"/>
        <span asp-validation-for="RoundFormModel.DatePlayed"></span>
    </div>
</div>

<div class="col-4">
    <label class="form-label"> Tee Name</label>
    @if (Model.TeeboxSelectList.Count <= 0)
    {
        <select class="form-select" asp-for="RoundFormModel.TeeboxId" asp-items="@Model.TeeboxSelectList.ToSelectList("No Tees Available", "0")" disabled> </select>

    }
    else
    {
        if (Model.IsUpdate)
        {
            <input type="hidden" asp-for="RoundFormModel.TeeboxId" value="@Model.RoundFormModel.TeeboxId"/>
            <select class="form-select" asp-for="RoundFormModel.TeeboxId" disabled>
                <option value="@Model.TeeboxSelectList[Model.RoundFormModel.TeeboxId]">
                    @Model.TeeboxSelectList[Model.RoundFormModel.TeeboxId]
                </option>
            </select>
        }
        else
        {
            <select class="form-select" asp-for="RoundFormModel.TeeboxId" >

                <option value="0"> Select Tee </option>
                @foreach (var t in Model.TeeboxSelectList)
                {
                    <option value="@t.Key"
                            hx-get="@Url.Action("GetTeeboxAndHoleDataHtmx", new {teeboxId = t.Key})"
                            hx-target="#teebox-data"
                            hx-swap="innerHTML"
                            hx-trigger="click">
                        @t.Value
                    </option>
                }
            </select> 
        }
        
    }
    <span asp-validation-for="RoundFormModel.TeeboxId" class="text-danger"></span>
</div>
